* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #c4a19ed5, #a5e9e9);
}

.column {
    margin: 15px 0;
}

input {
    text-align: center;
    max-width: 300px;
    margin: auto;
}

.label {
    display: flex;
    justify-content: center;
}