<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="inkline/inkline.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/vue.min.js"></script>
    <title>inkline-recipe-search</title>
</head>

<body>
    <div id="app">
        <i-container>
            <i-row center>
                <i-column xs="12" md="12">
                    <i-form-label class="label">
                        <h2><b>RECIPE SEARCH</b></h2>
                    </i-form-label>
                    <p style="margin-bottom: 10px; font-size: 1.2rem">
                        <b>Looking for quick recipe?</b>
                    </p>
                    <i-input variant="dark" placeholder="Search meal/food here" @keyup="getIt" v-model="query"></i-input>
                    <i-row>
                        <i-column>
                            <i-card variant="dark" v-if="typeof meals != 'undefined'">
                                <img slot="image" :src="meals.meals[0].strMealThumb" />
                                <h4 class="title">{{ meals.meals[0].strMeal}}</h4>
                                <p class="subtitle">
                                    This food is {{ meals.meals[0].strArea }}
                                </p>
                                <p></p>
                                <template slot="footer">{{ meals.meals[0].strInstructions }}</template
                  >
                </i-card>
              </i-column>
            </i-row>
          </i-column>
          <i-column md>
            <i-row>
              <i-column>
                <i-card variant="dark" v-if="typeof meals != 'undefined'">
                  <img slot="image" :src="meals.meals[1].strMealThumb" />
                  <h4 class="title">{{ meals.meals[1].strMeal}}</h4>
                  <p class="subtitle">
                    This food is {{ meals.meals[1].strArea }}
                  </p>
                  <p></p>
                  <template slot="footer"
                    >{{ meals.meals[1].strInstructions }}</template
                  >
                </i-card>
              </i-column>
            </i-row>
          </i-column>
        </i-row>
      </i-container>
    </div>

    <script src="inkline/inkline.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>